<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    
   
    <div id="map"></div>
    <%= javascript_include_tag 'map' %>

    
	</div>
</div>