<html>
<body>

<div style="text-align:center">

	<br> <h1> About Us </h1> <hr/><br>
	
	<p>ValetBike, brought to you by Bikea, is an electronic bikeshare service that   
	<br>allows users to discover Nipmuc Notch through cycling. We believe in 
	<br>living sustainably and going green, so all our bikes help you 
	<br>get to your destinations efficiently while also emitting less 
	<br>carbon footprints! Our bikes are affordable, flexible, and available 
	<br>from the convenience of your browser!
	<br>Go to your destinations, the BIKEA way 😎
	<br><br>
	</p>

</div><div>	

	<figure>
    <%= image_tag("group_picture.jpg", :alt => "Members of Bikea", :size => '700x400') %>
    <figcaption>Bikea Members: Elaine Zhang, Elise Schatzki-McClain, Nicole Tresvalles, Sara Matsui, Mariem Snoussi</figcaption>
</figure>
	<br>
	
</div>
</body>
</html>
