<html>
<body>
<div style="text-align:center">

	<br> <h1> About Us </h1> <hr/><br>
	
	<p>ValetBike, brought to you by Bikea, is an electronic bikeshare service that   
	<br>allows users to discover Nipmuc Notch through cycling. We believe in 
	<br>living sustainability and going green, so all our bikes help you 
	<br>get to your destinations effeciently while also emitting less 
	<br>carbon footprints! Our bikes are affordable, flexible, and available 
	<br>from the convenience of your browser!
	<br>Go to your destinations, the BIKEA way 😎
	<br><br>
	</p>

</div><div>	
	

	<br>
	
</div>
</body>
</html>
