<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<div class="text-center">
    <h1 class="mt-5 mb-5">FAQ<hr/> </h1>
  </div>
  <h2>Memberships</h2>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Who can become a member?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17" style="">
        <div class="card card-body border-0 p-0">
          <p>
          As of right now, anyone is eligible to use ValetBike. However, anyone younger than 17 years old must be registered through a 
          legal guardian. It is the user's responsibility to keep track of their membership and ensure payments are done correctly. 
          </p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Can I lend my membership to someone?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-18" style="">
        <div class="card card-body border-0 p-0">
          <p>Each user and/or member must have their own membership. But, it is possible to lend your membership 
          to someone. If this is done, the member is responsible for any damage and fees. 
          </p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            I want to use a bike from time to time. Can I get a bike without a membership?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-19" style="">
        <div class="card card-body border-0 p-0">
          <p>It is definitely possible to get a bike without a membership! But, we do ask that you make an account so we 
          can keep track of our products and users.  
          </p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How do I use this system?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0">
          <p>There is a walkthrough on how to use our system in our homepage. If you have any problems, please call 
          (280)993-8933 or email bikeatest@gmail.com!
          </p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            When does my membership begin?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-21">
        <div class="card card-body border-0 p-0">
          <p>Your membership begins as soon as the user finalizes the purchase process.</p>
          <p>
          </p>
        </div>
      </div>

      
      </div>
    </section>
  </section>
</section>




<div class="text-center">
    <h2 class="mt-5 mb-5">Rides</h2>
  </div>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-22" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Where can I ride my bike?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-22" style="">
        <div class="card card-body border-0 p-0">
          <p>
            The areas where our services are offered are shown in our Valetbike homepage. 
            Users can ride anywhere within Valetbike's area.
          </p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-23" aria-expanded="false" data-toggle="collapse" href="#faq-23" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How long can I rent my bike?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-23" style="">
        <div class="card card-body border-0 p-0">
          <p>We have two plans that our users can choose from. 
          Our first plan allows the user to get 5 rides per week for only $5 a month.
          Plan B allows the user to get unlimited rides for $15 a month. 
          Please check out our pricing plans page for more detailed information. 
          </p>
          <p>
          </p>
        </div>
      </div>
      </div>
    </section>
  </section>




<div class="text-center">
    <h2 class="mt-5 mb-5">Bikes</h2>
  </div>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-24" aria-expanded="false" data-toggle="collapse" href="#faq-24" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How do I take a bike out of the dock?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-24" style="">
        <div class="card card-body border-0 p-0">
          <p>
            After creating an account or logging into an existing account, go to "Unlock a Bike". 
            Fill in the empty boxes with the respective information. The Bike ID can be found on the bike 
            and the start stations is where the bike is being unlocked. 
            Click "Unlock a Bike" button and it will successfully unlock the bike to the account. 
          </p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-25" aria-expanded="false" data-toggle="collapse" href="#faq-25" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How long can I rent my bike?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-25" style="">
        <div class="card card-body border-0 p-0">
          <p>We have two plans that our users can choose from. 
          Our first plan allows the user to get 5 rides per week for only $5 a month.
          Plan B allows the user to get unlimited rides for $15 a month. 
          Please check out our pricing plans page for more detailed information. 
          </p>
          <p>
          </p>
        </div>
      </div>
      
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-26" aria-expanded="false" data-toggle="collapse" href="#faq-26" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
           Do I have to return it to the same station I rented it from?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-26">
        <div class="card card-body border-0 p-0">
          <p>
          The great thing about ValetBike's system is that you don't have to return it to the same station! 
          Feel free to return it to a different station, as long as there is room to return the bike on the docks. 
          </p>
          <p>
          </p>
        </div>
      </div> 
      
      
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-27" aria-expanded="false" data-toggle="collapse" href="#faq-27" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
           Can I unlock more than one bike?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-27">
        <div class="card card-body border-0 p-0">
          <p>
          As of right now, our memberships and renting process only allows you to rent one bike at a time!
          </p>
          <p>
          </p>
        </div>
      </div> 
      
      
      
      
      
      </div>
    </section>
  </section>


<div class="text-center">
    <h2 class="mt-5 mb-5">Stations</h2>
  </div>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-28" aria-expanded="false" data-toggle="collapse" href="#faq-28" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What happens if there are no empty spots for the bike at the docks?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-28" style="">
        <div class="card card-body border-0 p-0">
          <p>
            This is unlikely to happen, but if there are no free spots to return the bike, please contact our customer service. 
            Please call (280)993-8933 or email bikeatest@gmail.com.
          </p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-29" aria-expanded="false" data-toggle="collapse" href="#faq-29" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What if there are no bikes at the station near me?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-29" style="">
        <div class="card card-body border-0 p-0">
          <p>
            We have live updates that show how many docked bikes are at each station. 
            Checking this prior to departing would be helpful! 
          </p>
          <p>
          </p>
        </div>
      </div>
      </div>
    </section>
  </section>
