<div>
<br>
	 <center><h1>Pricing</h1><hr/> <br>

	<table id=pricingtable>
	<tr>
		<th></th>

		<th>Plan A</th>
		<th>Plan B</th>
	</tr>
	<tr>
		<th>Rides per Week</th>
		<td>5</td>
		<td>Unlimited</td>
	</tr>
	<tr>
		<th>Price</th>
		<td>$5 / month</td>
		<td>$15 / month</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" class="btn btn-outline-info" value="purchase" /></td>
		<td><input type="submit" class="btn btn-outline-info" value="purchase" /></td>
	</tr>

</table>
 </center>
</div>