<div>
<br>
    
	<h1>Returning your Bike </h1>

	<%= form_for(:ride, url: checkin_path) do |f| %>
		<%= f.label(:end_station) %>
		<%= f.select :endstation, Station.all.collect { |s| [ s.name, s.name ] }, include_blank: false %>
		<%= submit_tag("RETURN BIKE") %>
	<% end %>

	
	
</div>