<div>
<br>
    
	<h1>Your on a ride with bike </h1>

    To Return the Bike:

	<%= form_for(:ride, url: checkin_path) do |f| %>
		<%= f.label(:endstation) %>
		<%= f.select :endstation, Station.all.collect { |s| [ s.name, s.name ] }, include_blank: false %>
		<%= submit_tag("RETURNBIKE") %>
	<% end %>

	
	
</div>