<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    
   
   <% if @stations.present? %>

    <div class="empty">
    there are stations found.
    </div>

      <div id="map"></div>
      <%= javascript_include_tag 'map' %>

    <% else %>
    <div class="empty">
        No stations found.
    </div>
    <% end %>

	</div>
</div>
