<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    
    
    #<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    #<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>


    <% if @stations.present? %>

    <div class="empty">
    there are stations found.
    </div>

      <div id="map"></div>
      <%= javascript_include_tag 'map' %>

    <% else %>
    <div class="empty">
        No stations found.
    </div>
    <% end %>
s

    
	</div>
</div>